@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #020204;
  --dark-blue: #030711;
  --white: #f8fafc;
  --gray: #c8c8c8;
  --dark-gray: #374151;
  --blue: #1d283a;
  --dark-green: #166534;
  --light-green: #bbf7d0;
}

body {
  color: var(--foreground);
  background: var(--black);
  font-family: "Inter", sans-serif;
}
